<div class="lienfooter">
    <p class="footer">&copy; Copyright {% now 'd - m - Y' %} &middot; stors application bot &middot; All rights reserved! </p>
{#    <a href="https://web.facebook.com/fourieronesyme.saint" class="fa fa-facebook" style="font-size: 50px; padding-left: 300px"></a>#}
{#    <a href="https://secure.skype.com/portal/overview?intsrc=client-_-webapp-_-production-_-go-myaccount" class="fa fa-skype" style="font-size: 50px; padding-left: 10px"></a>#}
{#    <a href="https://www.linkedin.com/feed/?trk=" class="fa fa-linkedin" style="font-size: 50px; padding-left: 10px"></a>#}
{#    <a href="https://www.instagram.com/?hl=fr" class="fa fa-instagram" style="font-size: 50px; padding-left: 10px"></a>#}
{#    <a href="https://twitter.com/" class="fa fa-twitter" style="font-size: 50px; padding-left: 10px"></a>#}
{#    <a href="https://plus.google.com/u/0/discover" class="fa fa-google" style="font-size: 50px; padding-left: 10px"></a>#}
{#    <a href="https://github.com/Fourier1" class="fa fa-github" style="font-size: 50px; padding-left: 10px"></a>#}
{#    <a href="https://bitbucket.org/" class="fa fa-bitbucket" style="font-size: 50px; padding-left: 10px"></a>#}
{#    <a href="#" class="fa fa-envelope" style="font-size: 50px; padding-left: 10px; color: #ff8000"></a><br><br>#}

</div>
<style>
    .footer{
        text-align: center;
        color: rgba(0,0,0,0.6);
{#        margin-left: 290px;#}

    }
    .footer:before{
	content: " ";
	display: block;
	height: 1px;
	background-color: darkblue;
	width: 40%;
	margin:  0.9em auto;
}
</style>